
.modal-shade
  display: none
  opacity: 0
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 0, rgba(0,0,0,0.8) 100%)
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  will-change: opacity

.modal-container
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  display: none
  justify-content: center
  align-items: center
  color: black
  z-index: 100
  .modal
    width: 60%
    opacity: 0
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3)
    padding: 3em 4em
    +column-flex
    align-items: flex-start
    background-color: $background
    color: white
    p
      &.t_center
        width: 100%
        text-align: center
        margin-top: 1.5em !important
      &.m_top
        margin-top: 1em !important
    h1
      font-size: 32px
      line-height: 28px
      margin-bottom: 10px
    .arrow
      padding: .1em .4em .2em
      margin: 0 .2em
      border: .1em solid white
      border-radius: .2em
      font-family: monospace
      font-weight: bold
      font-size: 1.2em
      &.arrow_a
        padding: .2em
    .modal-actions
      +flex
      justify-content: space-between
      align-self: flex-end
      width: 100%
      margin: 1em 0
      button
        cursor: pointer
        font-size: 1.2em
        border: none
        padding: .5em
        min-width: 7em
        border-radius: 5em
        color: white
        font-weight: bold
        +transition_default
        &.modal-cancel
          background-color: $red
        &.modal-replay, &.modal-play, &.modal-save
          background-color: $green
        &:hover
          +hover_scale_opacity
  &.modalPause
    .modal
      h1, p
        margin: 0 auto
      p
        margin-top: 2em
      .modal-actions
        justify-content: center
        align-self: center
        margin-top: 1em
        margin-bottom: 0
  &.modalInfo, &.modalStart
    .modal
      .instr
        +flex
        justify-content: space-between
        align-items: flex-start
        .scene
          width: 55%
        .controls
          width: 35%
      .thanks
        width: 100%
        font-size: 2em
        font-weight: bold
        text-align: center
        margin-bottom: .3em
      p
        margin-top: .5em
      img
        width: 45%
      span.user_pic, span.goal
        display: inline-block
        vertical-align: middle
        width: 1.2em
        height: 1.2em
        margin: 0 .2em
        &.user_pic
          background-color: white
          &.u_grow
            width: 30%
        &.goal
          width: 2em
          height: 2em
          +prefix(animation, goal2 10ms infinite)
      .bGuy_inst, .bonus_inst
        display: inline-block
        width: 2em
        height: 2em
        margin: 0 .2em
      .modal-actions
        justify-content: center
  &.modalSettings
    .modal
      width: 40%
      position: relative
      p
        margin: .5em 0
      .cross-close
        position: absolute
        top: 2em
        right: 2em
        cursor: pointer
        &:hover
          +hover_scale_opacity
      .settings
        margin-top: 1em
        form
          .options
            margin-bottom: 1em
            font-weight: bold
            .option
              min-width: 5.5em
              display: inline-block
            input
              width: 4.5em
              color: white
              padding: .2em .6em
              background: none
              border: .09em solid white
              border-radius: 5em
              margin-right: .5em
      .modal-actions
        justify-content: flex-end
        .modal-save
          width: 10em


@media (max-width: $media2)

  .modal-container
    &.modalSettings
      .modal
        width: 50%


@media (max-width: $media4)

  .modal-container
    .modal
      width: 80%


@media (max-width: $media5)
  @media (max-height: $media11)

    .modal-container
      &.modalPause, &.modalInfo, &.modalStart, &.modalSettings, &.modalLose, &.modalWin
        .modal
          width: 80%
          font-size: .9em
          p
            margin: .5em 0
          h1
            font-size: 2em
          .thanks
            font-size: 1.3em
      &.modalSettings
        .modal
          width: 50%


@media (max-width: $media5)
  @media (max-height: $media12)

    .modal-container
      &.modalPause, &.modalInfo, &.modalStart, &.modalSettings, &.modalLose, &.modalWin
        .modal
          width: 65%
          font-size: .6em
          padding: 0 1.5em
          p
            margin: .5em 0
          h1
            font-size: 1.6em
          img.walls_inst
            width: 20%
          .thanks
            margin-top: .3em
            font-size: 1.3em
          .instr
            .scene
              width: 100%
            .controls
              display: none
          .modal-actions
            margin-top: 0.3em
            button
              padding: .3em
      &.modalLose, &.modalWin
        .modal
          padding: 1em 2.7em
      &.modalSettings
        .modal
          width: 50%


@media (max-width: $media6)

  .modal-container
    &.modalSettings
        .modal
          width: 60%


@media (max-width: $media6) and (orientation: landscape)

  .modal-container
    .modal
      font-size: .8em


@media (max-width: $media11)
  .modal-container
    &.modalPause, &.modalInfo, &.modalStart, &.modalLose, &.modalWin
      .modal
        width: 80%
        .instr
          .scene
            width: 100%
          .controls
            display: none
    &.modalSettings
      .modal
        width: 55%


@media (max-width: $media11) and (orientation: portrait)
  .modal-container
    &.modalSettings
      .modal
        width: 75%


@media (max-width: $media12)

  .modal-container
    &.modalPause, &.modalInfo, &.modalStart, &.modalSettings, &.modalLose, &.modalWin
      .modal
        font-size: .6em
        padding: 1em 2em
        h1
          font-size: 2.2em
        .thanks
          font-size: 1.5em
        img.walls_inst
          width: 30%
        p
          margin-top: 1em
    &.modalPause
      .modal
        padding: 2em
    &.modalSettings
      .modal
        width: 75%
