.container
  svg#gameBoard
    .form
      &.user
        fill: $maincolor
        stroke: $background
        stroke-width: .01
        fill-opacity: 1
        &.fill
          fill: $maincolor
          stroke: red
          stroke-width: .1
        &.back
          &.shrink_r
            +prefix(animation-duration, 500ms)
            +prefix(animation-name, shrink_r)
          &.shrink_l
            +prefix(animation-duration, 500ms)
            +prefix(animation-name, shrink_l)
          &.shrink_d
            +prefix(animation-duration, 500ms)
            +prefix(animation-name, shrink_d)
          &.shrink_u
            +prefix(animation-duration, 500ms)
            +prefix(animation-name, shrink_u)
        &.top
          stroke-dasharray: 0, 2, 6
        &.bottom
          stroke-dasharray: 4, 2
        &.left
          stroke-dasharray: 6, 2
        &.right
          stroke-dasharray: 2, 2, 4
        &.sides_tb
          stroke-dasharray: 2
        &.sides_lr
          stroke-dasharray: 0, 2, 0
        &.corner_tr
          stroke-dasharray: 4
        &.corner_tl
          stroke-dasharray: 2, 4
        &.corner_br
          stroke-dasharray: 0, 4, 4
        &.corner_bl
          stroke-dasharray: 0, 2, 4, 0
