.container
  svg#gameBoard
    .form
      &.goal
        fill: yellow
        fill-opacity: 0.8
        +prefix(animation, goal 10ms infinite)
      &.wall
        stroke-width: .15
        fill-opacity: 0.5
        fill: $maincolor
        stroke: $maincolor
        &.normal
          //fill: rosybrown
          //stroke: rosybrown
          +prefix(animation, glow 3000ms infinite)
          rect
            fill: url(#silver-noise)
            stroke: $metal
        &.ice
          fill: $ice
          stroke: $iceStroke
          +prefix(animation, glow 3000ms infinite)
          rect:first-child
            +prefix(animation, opacity 10000ms infinite)
            +prefix(animation-delay, 2000ms)
          rect:nth-child(2)
            +prefix(animation, opacity 12000ms infinite)
        &.wash
          fill: $wash
          stroke: $washStroke
          +prefix(animation, glow 3000ms infinite)
          rect:first-child
            +prefix(animation, opacity 8000ms infinite)
            +prefix(animation-delay, 1000ms)
          rect:nth-child(3)
            +prefix(animation, opacity 5000ms infinite)
            +prefix(animation-delay, 8000ms)
        &.electric
          fill: $electric
          //stroke-width: .1
          stroke-dasharray: .08
          +prefix(animation, glow 3000ms infinite)
          rect
            +prefix(animation, stroke 100ms infinite)
        &.blackhole
          rect
        &.teletransport
          rect
