.container
  svg#gameBoard
    .form
      &.goal
        fill: yellow
        fill-opacity: 0.8
        +prefix(animation, goal 10ms infinite)
      &.wall
        stroke-width: .25
        fill: $maincolor
        stroke: $maincolor
        &.normal
          //fill: rosybrown
          //stroke: rosybrown
          rect
            fill: url(#silver-noise)
            stroke: $metal
        &.ice
          fill: $ice
          fill-opacity: 0.5
          stroke: $iceStroke
          +prefix(animation, fade 3000ms infinite)
          rect:first-child
            +prefix(animation, opacity 10000ms infinite)
            +prefix(animation-delay, 2000ms)
          rect:nth-child(2)
            +prefix(animation, opacity 12000ms infinite)
        &.wash
          fill: $wash
          fill-opacity: 0.5
          stroke: $washStroke
          +prefix(animation, fade 3000ms infinite)
          rect:first-child
            +prefix(animation, opacity 8000ms infinite)
            +prefix(animation-delay, 1000ms)
          rect:nth-child(3)
            +prefix(animation, opacity 5000ms infinite)
            +prefix(animation-delay, 8000ms)
