
@keyframes colorChange
  0%
    fill: #ff0000
  50%
    fill: #000
  100%
    fill: #ff0000


// SLINKY REBOUND----------------------------------

@keyframes shrink_r
  from, 20%, 40%, 60%, 80%, to
    +prefix(animation-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1))
  0%
    width: .08em
  20%
    width: .2em
  40%
    width: .1em
  60%
    width: .15em
  80%
    width: .12em
  to
    width: .125em

@keyframes shrink_l
  from, 20%, 40%, 60%, 80%, to
    +prefix(animation-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1))
  0%
    width: .08em
    +prefix(transform, translateX(0.045em))
  20%
    width: .2em
    +prefix(transform, translateX(-0.075em))
  40%
    width: .1em
    +prefix(transform, translateX(0.025em))
  60%
    width: .15em
    +prefix(transform, translateX(-0.025em))
  80%
    width: .12em
    +prefix(transform, translateX(0.005em))
  to
    width: .125em
    +prefix(transform, translateX(0))

@keyframes shrink_d
  from, 20%, 40%, 60%, 80%, to
    +prefix(animation-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1))
  0%
    height: .08em
  20%
    height: .2em
  40%
    height: .1em
  60%
    height: .15em
  80%
    height: .12em
  to
    height: .125em


@keyframes shrink_u
  from, 20%, 40%, 60%, 80%, to
    +prefix(animation-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1))
  0%
    height: .08em
    +prefix(transform, translateY(0.045em))
  20%
    height: .2em
    +prefix(transform, translateY(-0.075em))
  40%
    height: .1em
    +prefix(transform, translateY(0.025em))
  60%
    height: .15em
    +prefix(transform, translateY(-0.025em))
  80%
    height: .12em
    +prefix(transform, translateY(0.005em))
  to
    height: .125em
    +prefix(transform, translateY(0))
