
//----------- Helvetica Neue ------------
$HelveticaBolder: 'HN75';
$HelveticaBold: 'HN65';
$HelveticaRegular: 'HN55';
$HelveticaLight: 'HN45';
$HelveticaLighter: 'HN35';


@font-face {
  font-family: 'HN35';
  src:url("../fonts/helvetica-neue/EOT/HelvNeue35_W1G.eot?#iefix");
  src:url("../fonts/helvetica-neue/EOT/HelvNeue35_W1G.eot?#iefix") format("eot"),
  url("../fonts/helvetica-neue/WOFF2/HelvNeue35_W1G.woff2") format("woff2"),
  url("../fonts/helvetica-neue/WOFF/HelvNeue35_W1G.woff") format("woff"),
  url("../fonts/helvetica-neue/TTF/HelvNeue35_W1G.ttf") format("truetype"),
  url("../fonts/helvetica-neue/SVG/HelvNeue35_W1G.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HN45';
  src:url("../fonts/helvetica-neue/EOT/HelvNeue45_W1G.eot?#iefix");
  src:url("../fonts/helvetica-neue/EOT/HelvNeue45_W1G.eot?#iefix") format("eot"),
  url("../fonts/helvetica-neue/WOFF2/HelvNeue45_W1G.woff2") format("woff2"),
  url("../fonts/helvetica-neue/WOFF/HelvNeue45_W1G.woff") format("woff"),
  url("../fonts/helvetica-neue/TTF/HelvNeue45_W1G.ttf") format("truetype"),
  url("../fonts/helvetica-neue/SVG/HelvNeue45_W1G.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HN55';
  src:url("../fonts/helvetica-neue/EOT/HelvNeue55_W1G.eot?#iefix");
  src:url("../fonts/helvetica-neue/EOT/HelvNeue55_W1G.eot?#iefix") format("eot"),
  url("../fonts/helvetica-neue/WOFF2/HelvNeue55_W1G.woff2") format("woff2"),
  url("../fonts/helvetica-neue/WOFF/HelvNeue55_W1G.woff") format("woff"),
  url("../fonts/helvetica-neue/TTF/HelvNeue55_W1G.ttf") format("truetype"),
  url("../fonts/helvetica-neue/SVG/HelvNeue55_W1G.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HN65';
  src:url("../fonts/helvetica-neue/EOT/HelvNeue65_W1G.eot?#iefix");
  src:url("../fonts/helvetica-neue/EOT/HelvNeue65_W1G.eot?#iefix") format("eot"),
  url("../fonts/helvetica-neue/WOFF2/HelvNeue65_W1G.woff2") format("woff2"),
  url("../fonts/helvetica-neue/WOFF/HelvNeue65_W1G.woff") format("woff"),
  url("../fonts/helvetica-neue/TTF/HelvNeue65_W1G.ttf") format("truetype"),
  url("../fonts/helvetica-neue/SVG/HelvNeue65_W1G.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HN75';
  src:url("../fonts/helvetica-neue/EOT/HelvNeue75_W1G.eot?#iefix");
  src:url("../fonts/helvetica-neue/EOT/HelvNeue75_W1G.eot?#iefix") format("eot"),
  url("../fonts/helvetica-neue/WOFF2/HelvNeue75_W1G.woff2") format("woff2"),
  url("../fonts/helvetica-neue/WOFF/HelvNeue75_W1G.woff") format("woff"),
  url("../fonts/helvetica-neue/TTF/HelvNeue75_W1G.ttf") format("truetype"),
  url("../fonts/helvetica-neue/SVG/HelvNeue75_W1G.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
